#splash {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #d0d7da;
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(../../images/splash.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#splash.loading::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: 99;
}

#splash .card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

#splash .card-body {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  display: grid;
  place-content: center;
  box-shadow: 1px 1px 5px;
  text-align: center;
}

#splash .card-body div {
  text-align: center;
}

#splash h4 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#splash p {
  font-size: 0.7rem;
  margin-top: -22px;
  margin-bottom: 100px;
}

#splash img {
  margin-left: 50px;
}

#splash button {
  background-color: transparent;
  color: #189ed8;
  padding: 10px 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  margin-top: 25px;
  width: 200px;
}

#splash button:hover {
  background-color: #189ed8;
  color: white;
}
