  #splash {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(../../images/splash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #splash .card {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
  }
  
  #splash .card-body {
    width: 400px;
    height: 200px;
    display: grid;
    place-content: center;
  }
  #splash .card-body div {
    text-align: center;
  }
  
  #splash h4 {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  #splash button {
    background-color:transparent;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
  }
  
  #splash button:hover {
    background-color: black;
    color: white;
  }
  