  .body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image:url(../../images/Screenshot\ 2023-03-21\ at\ 19.45.55.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: scale-down;
    background-position: center;
    /* height: 100vh; */
    opacity: 0.5;
  }
  
  .parent-container {
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    z-index: auto;
  }
  
  .btn {
    background-color: black;
  }
  
  .card-header {
    height: 200px;
    width: 540px;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-body {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h4 {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* font-weight: bold; */
  }
  
  /* .card-header{
   background:linear-gradient(rgba(133, 133, 133, 0.9), 
   rgba(154, 153, 153, 0.51)),
   url(/assets/Screenshot\ 2023-03-21\ at\ 19.45.55\ \(1\).png);
   background-position: center;
  
    } */
  
  button {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none !important;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: rgb(49, 85, 21) !important;
  }
  