.message-box {
    display: flex;
    flex-direction: column;
  }
  .reaction-button {
    border-style: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .reaction-button span{
    padding-right: 2px;
  }

  .tab {
    visibility: hidden;
  }
  .tab.tab-visible {
    visibility: visible;
  }
  .delete:hover{
    color: red;
  }
  