.message-box {
    display: flex;
    flex-direction: column;
  }
  .reaction-button {
    border-style: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* position: absolute; */
  }
  .reaction-button span{
      padding-right: 2px;
  }
  