#chat-container  {
  border: 1px solid rgb(160, 160, 160);
  box-shadow: inset 0px 5px var(--primary-clr);
  border-radius: 10px;
  width: calc(100vw - 2px);
  max-width: 660px;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  position: relative;
  background-color: white;
}

#chat-container .chatroom {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.0125);
  width: 100%;
  padding-inline: 20px;
}

@media screen and (max-width: 500px) {
  #chat-container .chatroom {
    padding-inline: 10px;
  }
}

#chat-container .messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#chat-container .messages::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#chat-container .input {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  width: 96%;
  max-width: 640px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid rgb(219, 218, 218);
  padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}

#chat-container form {
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

#chat-container .form-group {
  justify-self: stretch;
  display: flex;
  align-items: center;
  border: 1px solid rgba(160, 160, 160, 0.612);
  border-radius: 100vmax;
  padding: 5px;
  background-color: white;
}

#chat-container .form-group > input {
  font-family: inherit;
  font-size: inherit;
  padding-inline: 7px;
  outline: transparent;
  background: none;
  border: none;
  width: 92.2%;
}

#chat-container .form-group svg {
  fill: rgb(139, 195, 218);
  font-size: 35px;
  margin-left: 10px;
}

#chat-container .form-group svg:hover {
  fill: rgb(24, 160, 216);
}

/* Toast CSS */
#chat-container .custom-body-class {
  font-size: 15px;
  line-height: 150%;
}

/* Mobile styles */
@media screen and (max-width: 500px) {
  #chat-container, #chat-container .input, .app-header {
    border-radius: 0;
  }
  #chat-container {
    border: none;
    width: 100vw;
    overflow-x: hidden;
  }
}


