:root {
  --primary-clr: #189ed8;
  /* --secondary-clr: #ed6d54; */
  /* --secondary-clr: #d85118; */
  /* --secondary-clr: #d8183e; */
  /* --secondary-clr: #e4e3e6; */
  /* --secondary-clr: #d8b218; */
  /* --secondary-clr: #8ec116; */
  /* --secondary-clr: #d8189e; */
  --secondary-clr: #13af90;
  --primary-txt: #ffffff;
  --secondary-txt: #ffffff;
  /* --secondary-txt: #1f1f1f; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 !important;
}

header {
  overflow-y: scroll;
  position: fixed;
  left: 0%;
  top: 0px;
  width: 100vw;
  z-index: 2;
}

.app-header {
  display: grid;
  grid-template-columns: auto 1fr 130px;
  align-items: center;
  justify-items: start;
  gap: 10px;
  margin: 0 auto;
  padding-block: 10px;
  max-width: 660px;
  /* color: black; */
  color: var(--primary-clr);
  /* background-color: rgba(46, 106, 246, 0.85); */
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 4px solid var(--primary-clr);
  border-bottom: 1px solid rgb(219, 218, 218);
}

.app-header button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 100vw;
  border: 2px solid var(--primary-clr);
  background-color: transparent;
  color: var(--primary-clr);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  justify-self: center;
  transition: all 150ms linear;
}

.app-header button:hover {
  color: white;
  background-color: var(--primary-clr);
}

.app-header h1 {
  padding: 0;
  margin: 0;
}

.no-style-btn {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
}

.icon-button {
  font-size: 25px;
  color: var(--primary-clr);
  border-style: none;
  background-color: inherit;
  cursor: pointer;
  margin: 5px;
}