body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

header {
  overflow-y: scroll;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  z-index: 2;
}

header > div {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border: 1px solid black;
  padding: 10px;
  backdrop-filter: blur(5px);
}

header button {
  padding: 10px 20px;
  border-radius: 100vw;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

header button:hover {
  color: black;
  background-color: white;
}

h1 {
  padding: 0;
  margin: 0 0 10px;
}

.chatroom {
  padding-inline: 10px;
  padding-top: 70px;
  width: 94%;
  max-width: 640px;
  margin: 0 auto;
  border: 1px solid rgb(160, 160, 160);
  background-color: rgba(0, 0, 0, 0.019);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 75vh;
}

.message img {
  border-radius: 50%;
  height: 40px;
}

.message {
  display: flex;
  align-items: center;
  max-width: 75%;
}

.message a {
  color: white;
}

.message > p {
  border: 1px solid rgb(233, 233, 233);
  padding: 8px 13px;
  margin: 0 10px;
  border-radius: 10px;
  color: white;
  background-color: grey;
  position: relative;
}

.message.sent {
  flex-direction: row-reverse;
  margin-left: auto;
}

.message.sent > p {
  background-color: rgb(46, 106, 246);
  border-bottom-right-radius: 0;
}

.message.received > p {
  background-color: rgb(90, 113, 163);
  border-bottom-left-radius: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 100vmax;
  padding: 5px;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  outline: transparent;
  background: none;
  border: none;
  width: 100%;
}

form > button {
  border-radius: 50%;
  padding: 8px 7px 5px 10px;
  background-color: rgb(123, 123, 123);
  border: none;
  color: white;
  font-size: 20px;
}

form > button:hover {
  background-color: rgb(46, 106, 246);
}

.no-style-btn {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
}

.input {
  display: grid;
  grid-template-columns: 15% 83%;
}

.breakout-icon {
  font-size: 20px;
  padding-right: 20%;
}

.icon-container {
  display: flex;
  flex-direction: row;
  padding: 15%;
  align-self: center;
}
