#modal p {
  margin-bottom: 30px;
}

#modal button {
  --clr: rgb(24, 160, 216);
  border: 2px solid var(--clr);
  color: var(--clr);
  outline: none;
  background: transparent;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 100vmax;
  transition: all 150ms linear;
}

#modal button:hover {
  background-color: var(--clr);
  color: white;
}

#modal form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#modal input {
  font-size: inherit;
  font-family: inherit;
  padding: 6px;
}

#modal h2 {
  margin-top: 10px;
}

@media screen and (max-width: 420px) {
  #modal {
    height: 450px !important;
  }
}
